<template></template>

<script>
export default {
  name: "Index",
  props: {
    ajaxlength: {
      type: Array,
      default: []
    },
    value: {
      type: Number,
      default: isNaN(value) ? 10 : value
    },
    loadNum: {
      type: Number,
      default: isNaN(loadNum) ? 0 : loadNum
    },
    click: {
      type: Number,
      default: isNaN(click) ? 0 : click
    },
    imgFinsihed: {
      type: Number,
      default: isNaN(imgFinsihed) ? 0 : imgFinsihed
    },
    animationFrame: {
      type: Object,
      default: new AnimationFrame()
    },
    ct: {
      type: Array,
      default: []
    },
    ct2: {
      type: Array,
      default: []
    },
    g: {
      type: Array,
      default: []
    },
    canarr: {
      type: Array,
      default: []
    },
    canarr2: {
      type: Array,
      default: []
    },
    trueArr: {
      type: Array,
      default: []
    },
    pos: {
      type: Array,
      default: []
    },
    prevVelocity: {
      type: Number,
      default: null
    },
    ok: {
      type: Object,
      default: document.getElementById("ok")
    },
    v: {
      type: Object,
      default: document.getElementById("version")
    }
  },
  methods: {
    recursiveLoad(b) {
      setTimeout(function() {
        var a =
          "#" +
          Math.random()
            .toString(16)
            .slice(2, 8);
        !0 === b.rendered ? done(b, a) : recursiveLoad(b);
      }, 1e3);
    },
    done(b, a) {
      trueArr.push(b.src);
      imgFinsihed++;
      2 <= loadNum
        ? $("#loadingMore").append(
            '<p style="color:' + a + ';">' + imgFinsihed + "</>"
          )
        : $("#loading").append(
            '<p style="color:' + a + ';">' + imgFinsihed + "</>"
          );
      g.length === trueArr.length &&
        (2 <= loadNum
          ? ($("#loadingMore").fadeOut(100),
            $("#contain").fadeOut(100),
            $("#amount").show(),
            $("#amount").html(
              '<p style="color:' + a + ';">' + imgFinsihed + "</>"
            ),
            init())
          : (mobilecheck()
              ? (v.innerHTML =
                  "<p>MOBILE:</p><p>Tap and Drag: Loads New Gif from the Internet and Paints Gif</p>")
              : (v.innerHTML =
                  "<p>DESKTOP:</p><p>Click and Release: Loads New Gif from the Internet</p><p>Mouse Move: Paints Gif!</p>"),
            $("#loading").fadeOut(100),
            $("#instructions").fadeIn(100),
            animloop(),
            ok.addEventListener("click", function() {
              $("#contain").fadeOut(100);
              $("#instructions").fadeOut(100);
              $("#amount").html("<p>" + imgFinsihed + "</>");
              init();
            })));
    },
    calculateVelocities(b) {
      return b.reduce(function(a, b, c, e) {
        if (0 < c) {
          --c;
          var f = b.x - e[c].x,
            h = b.y - e[c].y;
          a.push(Math.sqrt(f * f + h * h) / (e[c].t - b.t));
        }
        return a;
      }, []);
    },
    calculateAccelerations(b) {
      return b.reduce(function(a, b, c, e) {
        0 < c && a.push(e[c - 1] - b);
        return a;
      }, []);
    },
    average(b) {
      return 0 < b.length
        ? b.reduce(function(a, b) {
            return a + b;
          }, 0) / b.length
        : 0;
    },
    createCanvas(b, a) {
      var d = document.createElement("canvas");
      d.width = window.innerWidth;
      d.height = window.innerHeight;
      document.body.appendChild(d);
      var c = d.getContext("2d");
      b.push(c);
      a && a.push(d);
    },
    create(b) {
      var a =
        "#" +
        Math.random()
          .toString(16)
          .slice(2, 8);
      click++;
      $("#amount").html('<p style="color:' + a + ';">' + imgFinsihed-- + "</>");
      -1 === imgFinsihed
        ? ((imgFinsihed = click = 0),
          $("#loadingMore").html(
            '<p style="float:left;margin-right:2%;">Loading More Gifs....</p>'
          ),
          $("#amount").hide(),
          document.removeEventListener("touchstart", create),
          document.removeEventListener("touchmove", drawMobi),
          window.removeEventListener("mousedown", create),
          window.removeEventListener("mousemove", drawDesk),
          imgur())
        : (createCanvas(ct, canarr), createCanvas(ct2));
      b.preventDefault();
    },
    drawMobi(b) {
      var a = ct2[Number(ct2.length) - 1];
      Number(ct2.length) - 1 >= Number(g.length) &&
        (a = ct2[Number(g.length) - 1]);
      void 0 !== a &&
        ((a.globalCompositeOperation = "source-over"),
        a.beginPath(),
        (a.shadowBlur = 20),
        (a.shadowColor = "rgb(0, 0, 0)"),
        a.arc(
          b.touches[0].clientX,
          b.touches[0].clientY,
          34.46344536563456,
          0,
          2 * Math.PI,
          !1
        ),
        (a.fillStyle = "rgba(0,0,0,0.5)"));
      b.preventDefault();
    },
    drawDesk(b) {
      pos.unshift({ x: b.clientX, y: b.clientY, t: performance.now() });
      pos.length = Math.min(pos.length, 30);
      var a = calculateVelocities(pos),
        d = calculateAccelerations(a);
      average(a);
      r = 0 <= average(d) ? value++ : value--;
      100 < r && (r = value -= 100);
      5 > r && (r = value += 100);
      a = ct2[Number(ct2.length) - 1];
      Number(ct2.length) - 1 >= Number(g.length) &&
        (a = ct2[Number(g.length) - 1]);
      void 0 !== a &&
        ((a.globalCompositeOperation = "source-over"),
        a.beginPath(),
        a.arc(b.clientX, b.clientY, r, 0, 2 * Math.PI, !1),
        (a.fillStyle = "rgba(0,0,0,0.5)"));
      b.preventDefault();
    },
    init() {
      mobilecheck()
        ? (document.addEventListener("touchstart", create),
          document.addEventListener("touchmove", drawMobi),
          (isTouch = !0))
        : (window.addEventListener("mousedown", create),
          window.addEventListener("mousemove", drawDesk),
          (isTouch = !1));
    },
    animloop() {
      animationFrame.request(animloop);
      for (var b = 0; b < g.length; b++) {
        var a = b % g.length,
          d = g[a],
          c = ct[a],
          e = ct2[a],
          a = canarr[a];
        0 < ct.length &&
          0 < ct2.length &&
          0 < canarr.length &&
          0 < g.length &&
          void 0 !== c &&
          !0 === d.rendered &&
          !0 === d.loaded &&
          (e.fill(),
          c.clearRect(0, 0, window.innerWidth, window.innerHeight),
          (c.globalCompositeOperation = "source-over"),
          (e.globalCompositeOperation = "source-atop"),
          e.drawImage(
            d.frames[d.currentFrame()].ctx.canvas,
            0,
            0,
            window.innerWidth,
            window.innerHeight
          ),
          c.drawImage(a, 0, 0, window.innerWidth, window.innerHeight),
          (c.globalCompositeOperation = "source-atop"));
      }
    },
    resize() {
      for (var b = 0; b < g.length; b++) {
        var a = canarr[b],
          d = canarr2[b];
        a.width = window.innerWidth;
        a.height = window.innerHeight;
        d.width = window.innerWidth;
        d.height = window.innerHeight;
      }
    },

    imgur() {
      loadNum++;
      var b = (function(a) {
        a = a.match(/access_token=(\w+)/);
        return !!a && a[1];
      })(document.location.hash);
      authorization = b ? "Bearer " + b : "Client-ID b144351ffb05838";
      $.ajax({
        url:
          "https://api.imgur.com/3/gallery/random/random/page=" +
          Math.floor(50 * Math.random()),
        method: "GET",
        headers: { Authorization: authorization, Accept: "application/json" },
        crossDomain: !0,
        data: { image: localStorage.dataBase64, type: "base64" },
        beforeSend: function() {
          2 <= loadNum
            ? ($("#loadingMore").css("display", "block"),
              $("#contain").css("display", "block"))
            : $("#loading").css("display", "block");
        },
        success: function(a) {
          $.each(a.data, function(b, c) {
            if (
              !1 !== a.data[b].animated &&
              !0 !== a.data[b].is_album &&
              "image/gif" === a.data[b].type &&
              2e6 > a.data[b].size
            ) {
              var e = GIF(c.link);
              e.render();
              g.push(e);
              recursiveLoad(e);
            }
          });
        }
      });
    }
  }
};
</script>

<style>
</style>
